<div class="hero-unit">
  <h1>Welcome to Gimme Gimme</h1>
  <br/>
  <p>Ever have trouble planning who is buying what?</p>
  <p>Are friends and family constantly bothering you for a Birthday or Christmas list?</p>
  <p>Create your list now, and share it with everyone!</p>
  <p>
    <%= link_to "Sign up now!", new_user_registration_path, :class=>"btn btn-primary btn-large" %>

  </p>
</div>