<div class="title">
  <%= @item.name %>
</div>
<div class="description">
  <%= simple_format @item.description %>
</div>
<% if can? :update, @item %>
  <%= link_to raw('<i class="icon-pencil"></i> Edit'), edit_list_item_path(@list, @item), :remote => true, :title=>'Edit', :class=>'btn btn-mini' %>
<% end %>
<% if can? :destroy, @item %>
  <%= link_to raw('<i class="icon-trash"></i> Delete'), list_item_path(@list, @item), :remote => true, method: :delete, :title=>'Delete', :class=>'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
<% end %>
<% if cannot? :update, @item %>
  www.link.com
<% end %>
