<div class="modal-header">
  <a href="#" data-dismiss="modal" class="close">×</a>
  <h3>Edit List Item</h3>
</div>
<div class="modal-body">
<%= form_for @item, :url => list_item_path(@list, @item), :remote=>true, method: :put do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
<% end %>
</div>
<div class="modal-footer">&nbsp;</div>
