$('#modal-window').modal('hide');
$("#new_item")[0].reset();
$('#item-bin').prepend(
  '<div id="item_<%= @item.id %>" class="item priority-1 span3 isotope-item">' +
    '<%= j render("div_item") %>'+
  '</div>'
).isotope( 'reloadItems' ).isotope({ sortBy: 'original-order' });