.amazon-product {
  width: 160px;
  float:left;
  display:inline-block;
  text-align: center;
  margin: 0 5px;
  padding-top:3px;
  border:1px solid #fff;
  cursor: pointer;
}
.amazon-product:hover {
  background-color: #ddd;
  border:1px solid #8BA2FC;
}
.selected {
  background-color: #ddd;
  border:1px solid #fff; 
}
.amazon-product img {
  max-height:120px;
  vertical-align: center;
  margin: auto auto;
  display: inline-block;
}
.amazon-product-title {
  font-size: 12px;
}
.amazon-product-image {
  height:120px;
}
.amazon-product img {

}