.amazon-product-result {
  width: 160px;
  float:left;
  display:inline-block;
  text-align: center;
  margin: 0 5px;
  padding-top:3px;
}
.amazon-product-result:hover {
  background-color: #ddd;
  cursor: pointer;
}
.amazon-product-title {
  font-size: 12px;
}