#item-bin {

 margin-left:auto;
 margin-right:auto;
}
#item-bin div {
  margin-left: 22px;
}
#item-bin .item {
  display:inline-block;
  float:left;
  text-align: center;
  background-color: #f6f6f6;
  padding: 10px 0;
  margin-bottom: 18px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  -box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
#item-bin .title {
  margin: 0;
  padding: 12px 10px;
  height:100%;
  font-size: 22px;
  font-weight: bold;
}

/* really want */
#item-bin .priority-4 {
  background-image: url('../img/star_drawn.png') !important;
  background-repeat: no-repeat;
  background-position: -20px -36px;
  font-size:16px;
}
#item-bin .priority-4 .title {
  background-color: #ccff00;
  font-size: 30px;
}
/* want */
#item-bin .priority-3 .title {
  background-color: #FFBB00;
}
/* necessity */
#item-bin .priority-2 .title {
  background-color: #9900ff;
  color: #fff;
}
/* nice to have / new */
#item-bin .priority-1 .title, #item-bin .priority-0 .title {
  background-color: #FCDCE9;
}