<div class="modal hide fade" id="modal-window">
  <div class="modal-header">
    <a href="#" data-dismiss="modal" class="close">×</a>
    <h3 id="modal-title"></h3>
  </div>
  <div class="modal-body" id='modal-body'></div>
  <div class="modal-footer" id='modal-footer'></div>
</div>
